html, body {
	font-family: Montserrat, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	overflow: hidden;
	position: relative;
	background-color: var(--background);
}

:root {
	--lightest-grey: #E5E5E5;
	--lighter-grey: #D5D5D5;
	--light-grey: #C5C5C5;
	--background: white;

	--text: #DCEBE4;

	--grey: #4A4A4A;
	--dark-grey: #3A3A3A;
	--darker-grey: #2C2C2C;
	--accent-color: #0063db;
	--primary-color: #3AD2EF;
	--secondary-color: #EF5184;
}

ol {
	list-style-type: square;
}
img, svg, span {
	vertical-align: middle;
	user-drag: none;
	-webkit-user-drag: none;
}
.download, .repack, .disabled {
	text-decoration: none;
	color:white;
	padding:0.5em;
	margin-left: 10px;
	float: right;
	background-color: var(--accent-color);
	transition: padding 0.2s, width 0.2s;
	border-radius:0.25em;
	line-height: 30px;
}
.disabled {
	background-color: var(--light-grey);
	cursor: not-allowed;
}
#downloadBar {
	text-decoration: none;
	color:white;
	padding:0;
	float: left;
	width: 100%;
	padding: 0;
	transition: width 0.2s;
	display: initial;
	word-break: keep-all;
	white-space: nowrap;
	left: 0;
	background-color: var(--accent-color);
	border-radius:0.25em;
	line-height: 30px;
	cursor: not-allowed;
}

/* Headings */
.newHeading, .newFooter {
	width: 180px;
	height: 50px;
	left: 0;
	animation: filter 0.2s;
}
.newHeading {
	top: 0;
	background-color: var(--accent-color);
}
.newHeading a, .newFooter a {
	color: #ffffff !important;
	text-decoration: none;
	text-align: center;
	display: block;
	margin: auto;
	line-height: 50px;
}
.newHeading:hover, .newFooter:hover {
	filter: brightness(130%);
}
.newFooter {
	bottom: 0;
	position: fixed;
	background-color: var(--secondary-color);
}
#homepage, #help, #issue {
	text-decoration: none;
	color: inherit;
}
#homepage:hover {
	color: #489AFA;
	-webkit-filter: drop-shadow(0 0 12px #489afa);
	filter: drop-shadow(0 0 12px #489afa);
}
#help {
	cursor: pointer;
}
#content {
	line-height: 30px;
}
table {
	margin-left: 10px;
}
#topBar {
	height: 50px;
	width: 100%;
	color: var(--text);
	background-color: var(--dark-grey);
	align-items: center;
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	z-index: 2;
	left: 0;
}
#content p {
	margin-left: 10px;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner {
	background-color: var(--grey);
	padding: 226px calc((100vw - 200px) / 2);
}
.spinner img {
	animation: spinner .6s linear infinite;
}
a {
	color: #0063db;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}
.link-demo {
	color: #0063db !important;
	font-weight: bold;
	text-decoration: none;
	cursor: not-allowed;
}
#content h3 a, #content h4 a {
	text-decoration: none;
	color:white;
	padding:0 3px;
	margin-top: auto;
	margin-bottom: auto;
	border-radius:0.25em;
	vertical-align: middle;
}
#content h4 {
	user-select: none;
	background-color:var(--darker-grey);
	color: var(--text);
	padding: 0.5em;
	left: 0;
	line-height: 30px;
}
.underline {
	text-decoration: underline
}
.success {
	display: block;
}
#content ul li b, .code {
	font-family: Consolas;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-grey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, var(--light-grey) 0%, var(--lighter-grey) 100%);
  border-radius: 0.1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--lightest-grey);
  width: 9px;
}

#drop_zone {
	padding: calc(50vh - 300px) 0;
	outline: 5px solid var(--grey);
	outline-offset: 0px;
	background-color: var(--dark-grey);
	color: var(--text);
	border-radius: 0px;
	transition: color 0.1s, outline-offset 0.1s, outline 0.1s, background-color 0.2s;
	transition-timing-function: ease-in-out;
	width:  90%;
	margin: auto;
	margin-bottom: auto;
	text-align: center;
	align-items: center;
	cursor: pointer;
}
#drop_zone:hover {
	color: var(--secondary-color);
	outline-offset: 5px;
	outline: 5px solid #DE49D4;
	background-color: #2A2A2A;
}
#loading {
	width: 50vw;
	margin-left: 20px;
	height: 30px;
	background-color: var(--dark-grey);
	border-radius: 0.25em;
}
#loadingBar {
	background-color: #316BBD;
	color: var(--text);
	height: 100%;
	border-radius: 0.25em;
	font-family: Consolas, sans-serif;
}
table, th, td {
  padding: 3px;
  color: var(--dark-grey);
  border-collapse: collapse;
}
.LODslider {
	width: 70%;
	vertical-align: middle;
	display: inline-block
}
#glyphs th, #glyphs td {
	color: white !important;
}
table {
	background-color: var(--text);
	border-radius: 0.25em;
}
th {
	text-align: left;
}
tr:nth-child(even) {
	background-color: var(--text) !important;
	filter: brightness(95%);
}
#alert-title {
	position: fixed;
	text-align: center;
	padding: calc(20vh - 30px);
	line-height: 30px;
	vertical-align: middle;
	background-color: var(--dark-grey);
	color: var(--text);
	margin-top: 30vh;
	border: 0;
	top: 0;
	border-radius: 0.25em;
	box-shadow: 0.5em 0.5em rgba(0, 0, 0, 0.5);
}
#alert {
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.25);
	border: 0;
	top: 0;
	display: none;
}
.sideBar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 180px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 3; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--dark-grey);
  overflow-x: hidden; /* Disable horizontal scroll */
  display: none;
}
@media (max-width: 800px) {
	table a .material-icons {
		font-size: 20px
	}
	.sideBar {
		display: none !important;
	}
	#topBar {
		margin-left: 0px !important;
		padding-left: 0px !important;
	}
	#workspace {
		margin-left: 0px !important;
	}
	#gameLogo {
		display: none;
	}
	#title {
		display: block !important;
		left: 0;
		float: left;
		padding: 0 !important;
	}
	#modelViewer {
		width: calc(100vw - 200px) !important;
	}
}
.hamburger {
	display: inline-block;
}
.dropdown {
	position: absolute;
	color: white;
	padding: 5px;
	background-color: var(--grey);
	box-shadow: 0.5em 0.5em rgba(0, 0, 0, 0.5);
	border-radius: 0.25em;
}
.nextArrow {
	float: right;
}
.dropdown a {
	display: block;
}
.dropdown a:hover {
	background-color: var(--darker-grey);
	border-radius: 0.25em;
	outline-offset: 2px;
	outline: 2px solid var(--text);
}
#sideBarContents a {
	color: var(--text) !important;
	text-overflow: ellipsis !important;
	white-space: nowrap;
  	overflow: hidden;
  	overflow-x: hidden;
}
.hidden {
	visibility: hidden;
}
.scroll {
	overflow-y: auto;
	width: calc(100% - 50px);
	flex: 1;
	min-width: 500px;
	max-height: calc(100vh - 75px);
}
.questEditorBody, .eventEditorBody {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
hr {
	display: none;
}
.model-sidebar {
	background-color: var(--darker-grey);
	left: calc(100vw - 220px);
	margin-top: -500px;
	width: 200px;
	height: 500px;
	max-height: 500px;
	color: var(--text);
	overflow-y: auto;
	position: absolute;
}
.model-sidebar ul {
	list-style: none;
	max-height: 500px;
	top: 0;
}
.model-sidebar ul li {
	margin-left: -40px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
	overflow-x: hidden;
	font-size: small;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 3;
}

/* Modal Content/Box */
.modal-content {
  overflow: auto;
  max-height: 80%;
  background-color: var(--dark-grey);
  margin: 10% auto;
  padding: 20px;
  line-height: 30px;
  color: white;
  border-radius: 0.25em;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content a {
	color: var(--secondary-color);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
div .cut {
	background-color: var(--grey);
	padding: 0 2px;
	padding-bottom: 5px;
	line-height: 10px;
	border-radius: 0.25em;
	overflow-y: scroll;
	margin-bottom: 2px;
	margin-right: 5px;
	color: white;
}
.cut h3 {
	line-height: 25px;
	margin: 0;
	padding-top: 5px;
	text-align: end;
}

div .cut div {
	background-color: var(--text);
	color: var(--grey);
	border-radius: 0.25em;
	width: 70%;
	margin: 0 2px;
	margin-bottom: 2px;
}
.csv-text {
	line-height: 20px;
	background-color: white;
	white-space: nowrap;
	border-radius: 0.25em;
	padding: 5px;
}