@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    color-scheme: dark;
    --primary: #0063db;
    --primary-rgb: 0, 99, 219; /* opacity screwing around */
    --primary-dark: #003aa8;

    --black: #111;
    --darker-grey: #212121;
    --dark-grey: #292727;
    --grey: #43404B;
    --white: #D7E6DF;

    --secondary: #EF5184;
    --secondary-dark: #b80f58;
    --secondary-darkest: #35121d;

    --status-percent: 100%;
    --status-background: var(--dark-grey);
}
.material-icons {
    vertical-align: middle;
}

body {
    background-color: var(--grey);
    font-family: 'Open Sans', 'Arial', sans-serif;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: auto;
    text-align: center;
    top: 0;
    left: 400px;
    width: calc(100% - 400px);
    height: 100%;
}
h1, h2, h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
}

aside {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background-color: var(--black);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

header {
    width: calc(100% - 20px);
    display: flex;
    top: 0;
    padding: 10px;
    left: 0;
}

.btn {
    transition: color 0.2s, background-color 0.2s;
    background-color: var(--primary);
    user-select: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    text-align: center;
}
#deleteFiles span, #settingsBtn span { 
    vertical-align: baseline !important;
}
#deleteFiles, #settingsBtn {
    width: 50px;
    font-size: 30px;
    line-height: 30px;
    padding: 10px 0;
    text-align: center;
    overflow: hidden;
    transition: width 0.3s, background-color 0.2s;
}
#deleteFiles { width: 0; }
#settingsBtn { background-color: var(--grey) }
#upload {
    position: relative;
    overflow: hidden;
    padding: 20px;
    font-size: 30px;
    flex-grow: 1;
    background-color: var(--primary);
}
#upload-bar {
    background-color: var(--primary-dark);
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    position: absolute;
    transition: background-color 0.2s, width 0.2s ease-in-out;
}
#upload-text {
    position: absolute;
    height: 100%;
    top: 0;
    margin-top: 28px;
    line-height: 150%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
    color: white;
    background-color: transparent !important;
    transition: margin 0.1s ease-in-out, color 0.2s;
    z-index: 99;
}
#upload:hover > #upload-text {
    margin-top: -17px;
}
#upload:hover > #upload-bar {
    background-color: var(--primary);
}
#settingsBtn:hover {
    background-color: var(--dark-grey);
}
.btn:hover, #upload:hover {
    background-color: var(--primary-dark);
}

#dropzone {
    background-color: rgba(var(--primary-rgb), 0.8);
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    top: 0;
    z-index: 99;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#explorer {
    color: white;
    overflow-y: auto;
    user-select: none;
    padding-left: 10px;
    height: 100%;
    width: calc(100% - 10px);
}
#search {
    position: sticky;
    z-index: 10;
    top: 0;
    margin-bottom: 10px;
    height: 38px;
}
input {
    background-color: var(--white);
    font-weight: bold;
    color: var(--black);
    padding: 10px 5px;
    font-size: 16px;
    outline: 0;
    border: 0;
    cursor: text;
    transition: background-color 0.2s;
    z-index: 1;
}
a {
    color: var(--secondary);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}
#search > input {
    position: absolute;
    width: calc(100% - 20px);
}
#search-completions {
    position: absolute;
    width: calc(100% - 10px);
    top: 38px;
    max-height: 70vh;
    overflow-y: auto;
    box-shadow: 0 0 10px var(--black);
}
#status, #file-data {
    width: 100%;
    padding: 5px;
    background-color: var(--dark-grey);
    overflow-wrap: break-word;
}
#status {
    position: relative;
    background-color: transparent;
}
#status:before {
    content: '';
    position: absolute;
    z-index: -1;
    margin-top: -5px;
    margin-left: -5px;
    height: 100%;
    width: var(--status-percent);
    background-color: var(--status-background);
    transition: width 0.2s ease-in-out;
}
#file-data {
    width: calc(100% - 10px);
    background-color: var(--darker-grey);
    max-height: 20vh;
    overflow-y: auto;
}
#file-data h1 {
    line-height: 20px;
}
#file-data-content {
    font-family: Consolas, sans-serif;
    overflow-wrap: break-word;
    font-size: 11px;
    white-space: pre;
}
.sr {
    white-space: pre-line !important;
    overflow-wrap: break-word;
    transition: background-color 0.1s, color 0.1s;
    background-color: lightgrey;
    color: var(--black) !important;
    padding: 5px;
}
.sr-path {
    font-size: 12px;
    vertical-align: text-bottom;
}
.sr:hover {
    background-color: var(--primary);
    color: white !important;
}
input:focus-visible {
    background-color: white;
}

.explorerFile, .folder {
    white-space: nowrap;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}
.folder-files {
    padding-left: 20px;
}
.folder:before {
    content: url('https://img.icons8.com/color/20/000000/folder.png');
    vertical-align: text-top;
}

.explorerFile:hover {
    background-color: var(--primary);
    color: white;
}
.explorerFile:before {
    content: url('https://img.icons8.com/color/20/000000/file.png');
    vertical-align: text-top;
}
.dat:before, .evn:before {
    content: url('https://img.icons8.com/color/20/000000/database.png');
}
.dtt:before {
    margin-left: 22px;
    content: '';
}
.wta:before, .wtp:before {
    content: url('https://img.icons8.com/color/20/000000/image-file.png');
}
.csv:before {
    content: url('https://img.icons8.com/color/20/000000/csv.png');
}
.wmb:before {
    content: url('https://img.icons8.com/color/20/000000/bookmark-page.png');
}
.bxm:before, .rld:before, .sop:before {
    content: url('https://img.icons8.com/color/20/000000/xml-file.png');
}
.bnk:before {
    content: url('https://img.icons8.com/color/20/000000/audio-file.png');
}
.dtt {
    /*display: none;
    font-size: 10px;*/
    color: #CCC;
}
.subtext, .sr-subtext {
    font-size: 12px;
    margin-top: -5px;
}
.subtext { padding-left: 22px; }

@keyframes attention {
    0% {
        background-color: var(--primary);
    }
    50% {
        background-color: var(--primary);
    }
    100% {
        background-color: transparent;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--grey);
    margin: 10vh auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}

select {
    padding: 5px;
    font-size: 16px;
    border: 0;
    background-color: var(--white);
    color: black;
    border-radius: 0.25em;
    font-weight: bold;
    transition: outline 0.1s ease-in-out;
}
select:focus-visible {
    outline: 3px solid var(--primary);
}

.contextMenu {
    position: absolute;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.4);
    display: none;
    user-select: none;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    padding: 5px;
    list-style: none;
    background-color: var(--dark-grey);
    border-radius: 0.25em;
    z-index: 1;
}
.contextMenu .contextItem {
    margin: 0;
    border-radius: 0.25em;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.1s;
}
.contextMenu .contextItemDanger {
    color: var(--secondary);
}
.contextMenu .spacing {
    height: 2px;
    background-color: var(--grey);
    margin: 5px;
}
.contextDisplay {
    padding: 5px;
    font-weight: bold;
}
.contextKey {
    font-weight: normal;
    font-size: 12px;
}
.contextMenu .contextItem:hover {
    background-color: var(--primary);
}
.contextMenu .contextItemDanger:hover {
    background-color: var(--secondary);
    color: white;
}

/* main views */
.text {
    white-space: pre;
    overflow-wrap: break-word;
    overflow-y: auto;
    height: 100%;
    text-align: left;
    padding: 0 5px;
    font-family: Consolas, sans-serif;
}